.form{
    background-color: rgb(0, 0, 0) ;
    max-width: 800px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}
.h1{
    text-align: center;
}
.head{
    margin: auto;
}
.btn{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}